@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Yansi_KalmTraining.Model.Viewmodel.ChangePasswordModel
@{
    Layout = "~/Views/Shared/UserPanelLayout.cshtml";
}
<main class="mdl-layout__content">
    <div class="mdl-card mdl-card__login mdl-shadow--2dp">
        <div class="mdl-card__supporting-text color--dark-gray">
            <div class="mdl-grid">
                @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post))
                {
                    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone submit-cell">

                        <a href="/Login/AddOTP" class="login-link">
                            Back
                        </a>

                    </div>
                   
                    <div class="mdl-layout-spacer"></div>
                    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
                        <span class="mdl-card__title-text text-color--smooth-gray">DARKBOARD</span>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
                        <span class="login-name text-color--white">Change Password</span>
                        <span class="login-secondary-text text-color--smoke">Enter fields to Change Your Password to DARKBOARD</span>
                    </div>

                    if (TempData["Login"] != null)
                    {
                        <p class="text-danger ms-3">@TempData["Login"] </p>
                    }

                    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                            <label class="mdl-textfield__label" for="e-mail">New Password</label>
                            @Html.PasswordFor(x => x.NewPassword, new { @class = "mdl-textfield__input"})
                            <div> @Html.ValidationMessageFor(x => x.NewPassword, "", new { @class = "text-danger" })</div>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                            <label class="mdl-textfield__label" for="password">Confirm Password</label>
                            @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "mdl-textfield__input", id = "password" })
                            <div> @Html.ValidationMessageFor(X => X.ConfirmPassword, "", new { @class = "text-danger" })</div>
                        </div>                       
                    </div>
                    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone submit-cell">                        
                        <div class="mdl-layout-spacer"></div>
                        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised color--light-blue">
                           Reset My Password
                        </button>

                    </div>
                }
            </div>
        </div>
    </div>

</main>

